/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  /* background: url('../images/bitcoin.jpg') no-repeat center center; */
  background-size: cover;
  background: #675AFE;
}

::selection{
  color: #fff;
  background: #675AFE;
}


.container{
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  /* background-color: transparent;    */
  /* background: rgba(43, 50, 94, 0.051); */
  box-shadow: 7px 7px 20px #323a6b0d;
}

.container header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container form{
  margin: 40px 0 20px 0;
}