/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* CSS variables */
:root {
  --font: 'Poppins', sans-serif;

  /* Light Theme */
  --day-bg: #fff;
  --day-blue: #0e3dbe;

  /* Dark Theme */
  --night-bg: #1e1e1e;
  --night-text: #d9c3b0;
  --night-card-bg: #35505f;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: url('../images/bitcoin.webp') no-repeat center center;
  background-size: cover;
}

.container{
  width: 370px;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 7px 7px 20px #323a6b0d;
}


.container.day {
  background: var(--day-bg);
}

.container.day header {
  color: var(--day-blue);
}

.container.day form button {
  color: var(--day-bg);
  background: var(--day-blue);
}

.container.night {
  background: var(--night-bg);
  color: var(--night-text);
}

.container.night header {
  color: var(--night-text);
}

.container.night form button {
  color: var(--night-text);
  background: var(--night-card-bg);
}

.container.night .select-box {
  border-color: var(--night-text);
}

.container.night select {
  color: var(--night-text);
}

.container.night select option {
  background: var(--night-bg);
  color: var(--night-text);
}

.container.night form input {
  background: var(--night-bg);
  color: var(--night-text);
}


.container header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container form{
  margin: 40px 0 20px 0;
}

#themeToggle {
  width: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--day-blue);
}

.container.night #themeToggle {
  color: var(--night-text);
}

form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form p{
  font-size: 18px;
  margin-bottom: 5px;
}

form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

form input:focus{
  padding: 0 14px;
  border: 2px solid #675AFE;
}

form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box{
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}

.select-box img{
  max-width: 21px;
}

.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar{
  width: 8px;
}

.select-box select::-webkit-scrollbar-track{
  background: #fff;
}

.select-box select::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}

form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}

form button{
  height: 52px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}